################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/DEVIO.UI.AppModelo/obj
/.vs
